*{
    font-family: 'Source Sans Pro', sans-serif;
}
#wrapper input {
    padding: 5px;
}
main {
    position: relative;
    left: 100px;
    border: 2px solid;
    width: 400px;
    text-align: center;
    border-radius:10px;
    padding-bottom: 20px;
    background-color: #b7a6ad;
    color: white;
	box-shadow: 5px 5px 10px 3px #888;
}
header {
    background-color: #513e3e;
    text-transform: uppercase;
    letter-spacing: 1em;
}
#wrapper {
    padding:20px;
    background-color: #846d74;
}
.button input {
    background-color:#b7a6ad;
    margin: 5px;
    padding: 10px;
    color: white;
}   
    
    